@import url("https://elite-ui.netlify.app/style.css");

:root {
    --ecom-bg: #2dd4bf;
    --ecom-content-bg: #fecaca;
    --white-card: #FFFFFF;
}

.nav-colored {
    background-color: var(--ecom-bg);
}

body {
    background-color: var(--secondary-bg);
}

.footer {
    background-color: var(--ecom-bg);
    text-align: center;
    padding: 1rem;
}