@import url(/style.css);

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "nav-bar nav-bar"
        "filter products-container"
        "filter products-container"
        "filter products-container"
        "footer footer"
}

.footer {
    grid-area: footer;
}

.margin-btm {
    margin-bottom: 1rem;
}

.nav-bar {
    grid-area: nav-bar;
}

.filter-col {
    margin-top: 2rem;
    grid-area: filter;
    background-color: var(--secondary);
    padding: 1rem;
    height: max-content;
}

.filter-head {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card {
    margin: 1rem;
    padding: 1rem;
}

.btn {
    width: 100%;
}

.filter-col>div {
    padding: 1rem;
}

.products-container {
    margin-top: 1rem;
    grid-area: products-container;
    display: flex;
    flex-wrap: wrap;
}